* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}

.buzz-quizz-title {
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: roboto;
    font-weight: 700;
    font-size: 37px;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.quiz-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 146px auto;
    width: 1051px;
}

.empty-quiz-list {
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px #D4D4D4 dashed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-quiz-list span {
    width: 250px;
    display: flex;
    text-align: center;
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #B9B9B9;
    margin-top: 30px;
}

.create-quiz-button {
    border-radius: 50px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    font-family: roboto;
    font-weight: 400;
    font-size: 21px;
    padding: 8px 24px;
    margin: 31px auto;
}

.your-quizzes header {
    display: flex;
    align-items: center;
}

.your-quizzes header h1 {
    font-family: roboto;
    font-weight: 700;
    font-size: 20px;
}

.your-quizzes header ion-icon {
    font-size: 30px;
    color: #EC362D;
    margin: auto 16px;
}

.your-quizzes ul {
    display: flex;
    flex-wrap: wrap;
}

.quiz-thumb {
    position: relative;
    margin: 12px 15px 0px 0px;
}

.quiz-thumb:nth-child(3n) {
    margin-right: 0px;
}

.quiz-thumb img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.quiz-thumb-title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 17px;
    font-family: roboto;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
}

.list-of-all-quizzes {
    margin: 48px 0px;
}

.list-of-all-quizzes header h1 {
    font-family: roboto;
    font-weight: 700;
    font-size: 20px;
}

.list-of-all-quizzes ul {
    display: flex;
    flex-wrap: wrap;
}


.quiz-page {
    margin-top: 69px;
}

.quiz-page .quiz-title {
    width: 100%;
    height: 18vw;
    position: relative;
    background: url('https://img.quizur.com/f/img60229135637eb5.97078183.jpg?lastEdited=1612878137');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.57);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 39px;
}

.quiz-page .question {
    width: 759px;
    height: 676px;
    margin: 40px auto;
    padding-top: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.quiz-page .question img {
    object-fit: fill;
}

.quiz-page .question .question-title {
    width: 688px;
    height: 138px;
    margin: 0 35px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF0000;
    font-size: 23px;
    font-weight: 700;
}

.quiz-page .question .answers {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
}

.quiz-page .question .answers .option {
    width: 45.5%;
    display: flex;
    flex-direction: column;
    margin-right: 28px;
    margin-bottom: 12px;  
}

.quiz-page .question .answers .option span {
    padding: 15px 0;
    font-weight: 700;
    font-size: 20px;
    color: #000000;  
}

.new-quiz-screen {
    width: 100vw;
    height: 100vw;
    padding-top: 69px;
}

.new-quiz-screen .basic-info-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-quiz-screen .basic-info-screen span {
    font-size: 23px;
    font-weight: 700;
    padding: 71px 0px 27px;
}

.new-quiz-screen .basic-info-screen div {
    width: 600px;
    height: 256px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 21px 20px 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-quiz-screen .basic-info-screen div input {
    width: 100%;
    height: 46px;
    padding-left: 24px;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
}

.new-quiz-screen .basic-info-screen div input::placeholder {
    font-style: italic;
    color: #bababa;
}

.new-quiz-screen .basic-info-screen button {
    width: 325px;
    height: 54px;
    margin-top: 85px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    color: #FFF5F4;
    font-size: 21px;
    font-weight: 400;
}

@media (max-width: 1100px) {
    .quiz-page .quiz-title {
        height: 142px;
        font-size: 19px;
    }

    .quiz-page .question {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        padding: 20px 15px 0;
    }

    .quiz-page .question .question-title {
        width: 100%;
        height: 89px;
        margin: 0;
        margin-bottom: 25px;
        font-size: 19px;
        padding: 0 15px;
    }

    .quiz-page .question .answers {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .quiz-page .question .answers .option {
        width: 49%;
        margin-right: 2%;
        
    }

    .quiz-page .question .answers .option:nth-child(even) {
        margin-right: 0;
    }

    .quiz-page .question .answers .option span {
        font-size: 13px;
    }
}

.hidden {
    display: none !important;
}