* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

.buzz-quizz-title {
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: roboto;
    font-weight: 700;
    font-size: 37px;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.quiz-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 146px auto;
    width: 1051px;
}

.empty-quiz-list {
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px #D4D4D4 dashed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-quiz-list span {
    width: 250px;
    display: flex;
    text-align: center;
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #B9B9B9;
    margin-top: 30px;
}

.create-quiz-button {
    border-radius: 50px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    font-family: roboto;
    font-weight: 400;
    font-size: 21px;
    padding: 8px 24px;
    margin: 31px auto;
}

.your-quizzes header {
    display: flex;
    align-items: center;
}

.your-quizzes header h1 {
    font-family: roboto;
    font-weight: 700;
    font-size: 20px;
}

.your-quizzes header ion-icon {
    font-size: 30px;
    color: #EC362D;
    margin: auto 16px;
}

.your-quizzes ul {
    display: flex;
    flex-wrap: wrap;
}

.quiz-thumb {
    position: relative;
    margin: 12px 15px 0px 0px;
}

.quiz-thumb:nth-child(3n) {
    margin-right: 0px;
}

.quiz-thumb img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.quiz-thumb-title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 17px;
    font-family: roboto;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
}

.list-of-all-quizzes {
    margin: 48px 0px;
}

.list-of-all-quizzes header h1 {
    font-family: roboto;
    font-weight: 700;
    font-size: 20px;
}

.list-of-all-quizzes ul {
    display: flex;
    flex-wrap: wrap;
}


.quiz-page {
    margin-top: 69px;
}

.quiz-page .quiz-title {
    width: 100%;
    height: 18vw;
    position: relative;
    background: url('https://img.quizur.com/f/img60229135637eb5.97078183.jpg?lastEdited=1612878137');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.57);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 39px;
}

.quiz-page .question {
    width: 759px;
    height: 676px;
    margin: 40px auto;
    padding-top: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

.quiz-page .question img {
    object-fit: fill;
}

.quiz-page .question .question-title {
    width: 688px;
    height: 138px;
    margin: 0 35px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF0000;
    font-size: 23px;
    font-weight: 700;
}

.quiz-page .question .answers {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
}

.quiz-page .question .answers .option {
    width: 45.5%;
    display: flex;
    flex-direction: column;
    margin-right: 28px;
    margin-bottom: 12px; 
}

.quiz-page .question .answers .option span {
    padding: 15px 0;
    font-weight: 700;
    font-size: 20px;
    color: #000000;  
}

.quiz-page .question .answers .wrong span {
    color: #FF4B4B;
}

.quiz-page .question .answers .correct span {
    color: #009C22;
}

.quiz-page .question .answers .not-selected {
    opacity: 30%;
}

.quiz-page .result {
    width: 759px;
    margin: 0 auto;
    padding: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

.quiz-page .result .score {
    width: 100%;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #EC362D;
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.quiz-page .result .description {
    width: 100%;
    display: flex;
    font-size: 19px;
    font-weight: 700;
    color: #484848;
}

.quiz-page .result .description img {
    width: 364px;
    padding-right: 21px;
}

.quiz-page .restart-button {
    width: 260px;
    height: 52px;
    display: block;
    margin-top: 20px;
    margin: 57px auto 20px;
    background-color: #EC362D;
    border-radius: 15px;
    font-size: 21px;
    color: #FFF5F4;
}

.quiz-page .home-button {
    display: block;
    margin: 0 auto 50px;
    color: #818181;
    font-size: 21px;
    background-color: inherit;
}

.new-quiz-screen {
    width: 600px;
    margin: 0px auto;
}

.new-quiz-screen > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-quiz-screen .title {
    font-size: 23px;
    font-weight: 700;
    padding: 140px 0px 27px;
}

.new-quiz-screen .basic-info-screen > div,
.new-quiz-screen .new-questions-screen > div,
.new-quiz-screen .new-levels-screen > div,
.new-quiz-screen .quiz-successfully-created > div {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 21px 20px 24px 16px;
}

.new-quiz-screen input {
    width: 564px;
    height: 46px;
    padding-left: 24px;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 9px;
}

.new-quiz-screen div input:last-child,
.new-quiz-screen textarea:last-child {
    margin-bottom: 0px !important;
}

.new-quiz-screen input::placeholder,
.new-quiz-screen textarea::placeholder {
    font-style: italic;
    color: #bababa;
}

.new-quiz-screen button.forward {
    width: min(80vw,370px);
    height: 54px;
    margin-bottom: 10px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    color: #FFF5F4;
    font-size: 21px;
    font-weight: 400;
}

.new-quiz-screen li {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 21px 20px 24px 16px;
    margin-bottom: 24px;
}

.new-quiz-screen .new-basic-info,
.new-quiz-screen li:last-of-type {
    margin-bottom: 85px;
}

.new-quiz-screen li span,
.new-quiz-screen li textarea {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
}

.new-quiz-screen .option-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.new-quiz-screen .option-title button {
    width: 24px;
    height: 23px;
    background-color: inherit;
    border: none;
}

.new-quiz-screen .new-questions .option-description span {
    margin-bottom: 18px;
}

.new-quiz-screen .new-questions .option-description input:nth-of-type(2n) {
    margin-bottom: 32px;
}

.new-quiz-screen .new-levels textarea {
    width: 564px;
    padding: 8px 24px;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
}

.new-quiz-screen .new-quiz-layout {
    width: min(500px, 80vw);
    height: min(266px,40vw);
    box-shadow: none;
    margin: 0px auto 45px;
    position: relative;
}

.new-quiz-screen .new-quiz-layout span{
    position: absolute;
    bottom: 16px;
    left: 23px;
    color: #FFFFFF;
    font-size: 23px;
}

.new-quiz-screen .new-quiz-layout img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    border-radius: 5px;
    left: 0px;
    top: 0px;
}

.new-quiz-screen .return-homescreen {
    color: #818181;
    font-size: 21px;
    margin-top: 16px;
}


@media (max-width: 1100px) {
    .quiz-page .quiz-title {
        height: 142px;
        font-size: 19px;
    }

    .quiz-page .question {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        padding: 20px 15px 0;
    }

    .quiz-page .question .question-title {
        width: 100%;
        height: 89px;
        margin: 0;
        margin-bottom: 25px;
        font-size: 19px;
        padding: 0 15px;
    }

    .quiz-page .question .answers {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .quiz-page .question .answers .option {
        width: 49%;
        margin-right: 2%;
    }

    .quiz-page .question .answers .option:nth-child(even) {
        margin-right: 0;
    }

    .quiz-page .question .answers .option span {
        font-size: 13px;
    }

    .quiz-page .result {
        width: 100%;
    }

    .quiz-page .result .score {
        font-size: 19px;
    }

    .quiz-page .result .description {
        flex-direction: column;
    }

    .quiz-page .result .description img {
        width: 100%;
        padding-right: 0;
        padding-bottom: 15px;
    }

    .quiz-page .restart-button {
        width: 260px;
        height: 52px;
        margin: 34px auto 12px;
        font-size: 18px;
    }

    .quiz-page .home-button {
        font-size: 18px;
    }

    .new-quiz-screen,
    .new-quiz-screen div input, 
    .new-quiz-screen .new-levels textarea {
        width: 100%;
    }

    .new-quiz-screen button.forward {
        font-size: 18px;
    }

    .new-quiz-screen .new-quiz-layout span{
        left: 10px;
        font-size: 19px;
    }

}

.hidden {
    display: none !important;
}