* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

.buzz-quizz-title {
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: roboto;
    font-weight: 700;
    font-size: 37px;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.quizz-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 146px auto 0px;
    width: 1051px;
}

.empty-quizz-list {
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px #D4D4D4 dashed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-quizz-list span {
    width: 250px;
    display: flex;
    text-align: center;
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #B9B9B9;
    margin-top: 30px;
}

.create-quizz-button {
    border-radius: 50px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    font-family: roboto;
    font-weight: 400;
    font-size: 21px;
    padding: 8px 24px;
    margin: 31px auto;
}

.your-quizzes {
    width: 100%;
}

.your-quizzes header {
    display: flex;
    align-items: center;
}

.your-quizzes header h1 {
    font-family: roboto;
    font-weight: 700;
    font-size: 20px;
}

.your-quizzes header ion-icon {
    font-size: 30px;
    color: #EC362D;
    margin: auto 16px;
}

.your-quizzes ul {
    display: flex;
    flex-wrap: wrap;
}

.quizz-thumb {
    position: relative;
    margin: 12px 15px 0px 0px;
}

.quizz-thumb:nth-child(3n) {
    margin-right: 0px;
}

.quizz-thumb img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.quizz-thumb .grad {
    position: absolute;
    width: 340px;
    height: 90px;
    border-radius: 5px;
    bottom: 2px;
    left: 0;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

.quizz-thumb-title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 17px;
    font-family: roboto;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
}

.list-of-all-quizzes {
    width: 100%;
    margin: 48px 0px;
}

.list-of-all-quizzes header h1 {
    font-family: roboto;
    font-weight: 700;
    font-size: 20px;
}

.list-of-all-quizzes ul {
    display: flex;
    flex-wrap: wrap;
}


.quizz-page {
    margin-top: 69px;
}

.quizz-page .quizz-banner {
    width: 100%;
    height: 18vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 39px;
    overflow: hidden
}

.quizz-page .quizz-banner .quizz-title {
    z-index: 1;
}

.quizz-page .quizz-banner .banner-image {
    object-fit: cover;
    width: 100%;
    position: absolute;
}

.quizz-page .quizz-banner .shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.57);
}

.quizz-page .question {
    width: 759px;
    margin: 40px auto;
    padding-top: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    scroll-margin: 79px;
}

.quizz-page .question .question-title {
    width: 688px;
    height: 138px;
    margin: 0 35px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF0000;
    font-size: 23px;
    font-weight: 700;
}

.quizz-page .question .answers {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
}

.quizz-page .question .answers .option {
    width: 45.5%;
    display: flex;
    flex-direction: column;
    margin-right: 28px;
    margin-bottom: 12px; 
}

.quizz-page .question .answers .option img {
    width: 100%;
    height: 196px;
    object-fit: cover;
}

.quizz-page .question .answers .option span {
    padding: 15px 0;
    font-weight: 700;
    font-size: 20px;
    color: #000000;  
}

.quizz-page .question .answers .wrong span {
    color: #FF4B4B;
}

.quizz-page .question .answers .correct span {
    color: #009C22;
}

.quizz-page .question .answers .not-selected {
    opacity: 30%;
}

.quizz-page .result {
    width: 759px;
    margin: 0 auto;
    padding: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    scroll-margin: 79px;
}

.quizz-page .result .score {
    width: 100%;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #EC362D;
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.quizz-page .result .description {
    width: 100%;
    display: flex;
    font-size: 19px;
    font-weight: 700;
    color: #484848;
}

.quizz-page .result .description img {
    width: 364px;
    padding-right: 21px;
}

.quizz-page .restart-button {
    width: 260px;
    height: 52px;
    display: block;
    margin-top: 20px;
    margin: 57px auto 20px;
    background-color: #EC362D;
    border-radius: 15px;
    font-size: 21px;
    color: #FFF5F4;
}

.quizz-page .home-button {
    display: block;
    margin: 0 auto 50px;
    color: #818181;
    font-size: 21px;
    background-color: inherit;
}

.new-quizz-screen {
    width: 600px;
    margin: 0px auto;
}

.new-quizz-screen > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-quizz-screen .title {
    font-size: 23px;
    font-weight: 700;
    padding: 140px 0px 27px;
}

.new-quizz-screen .basic-info-screen > div,
.new-quizz-screen .quizz-successfully-created > div {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 21px 20px 24px 16px;
}

.new-quizz-screen input {
    width: 564px;
    height: 46px;
    padding-left: 24px;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 9px;
}

.new-quizz-screen div input:last-child,
.new-quizz-screen textarea:last-child {
    margin-bottom: 0px !important;
}

.new-quizz-screen input::placeholder,
.new-quizz-screen textarea::placeholder {
    font-style: italic;
    color: #bababa;
}

.new-quizz-screen button.forward {
    width: min(80vw,370px);
    height: 54px;
    margin-bottom: 10px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    color: #FFF5F4;
    font-size: 21px;
    font-weight: 400;
}

.new-quizz-screen button.forward img {
    width: 54px;
    height: 54px;
}

.new-quizz-screen button.forward.selected {
    margin-top: 5px;
}

.new-quizz-screen li {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 21px 20px 24px 16px;
    margin-bottom: 24px;
}

.new-quizz-screen .new-basic-info,
.new-quizz-screen li:last-of-type {
    margin-bottom: 85px;
}

.new-quizz-screen li span,
.new-quizz-screen li textarea {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
}

.new-quizz-screen .option-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}

.new-quizz-screen .option-title button {
    width: 24px;
    height: 23px;
    background-color: inherit;
    border: none;
}
.new-quizz-screen li.selected .option-title button,
.new-quizz-screen li .option-description {
    display: none;
}

.new-quizz-screen li.selected .option-description {
    display: block;
}

.new-quizz-screen li.selected .option-description span {
    margin-top: 10px;
}

.new-quizz-screen .new-questions .option-description div {
    position: relative;
}

.new-quizz-screen .new-questions .option-description div span {
    position: absolute;
    left: 24px;
    bottom: 22px;
    z-index: 1;
    font-size: 19px;
    font-weight: 400;
    margin-top: 18px;
    font-style: italic;
    color: #bababa;
    pointer-events: none;
}

.new-quizz-screen .new-questions .option-description div input:first-child,
.new-quizz-screen .new-questions .option-description > input:nth-of-type(2n+1),
.new-quizz-screen .new-levels .option-description > input:first-child {
    margin-top: 24px;
}

input[type="color"] {
    padding-left: 0px;
}

.new-quizz-screen .new-levels textarea {
    width: 564px;
    padding: 8px 24px;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
}

.new-quizz-screen .new-quizz-layout {
    width: min(500px, 80vw);
    height: min(266px,40vw);
    box-shadow: none;
    margin: 0px auto 45px;
    position: relative;
}

.new-quizz-screen .new-quizz-layout img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    border-radius: 5px;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.new-quizz-screen .new-quizz-layout .grad {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    bottom: 0px;
    left: 0;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    z-index: 2;
}

.new-quizz-screen .new-quizz-layout span{
    position: absolute;
    bottom: 16px;
    left: 23px;
    color: #FFFFFF;
    font-size: 23px;
    z-index: 3;
}

.new-quizz-screen .return-homescreen {
    color: #818181;
    font-size: 21px;
    margin-top: 16px;
}

.loading-screen {
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: #EC362D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 4;
}

.loading-screen img {
    margin-bottom: 30px;
}

@media (max-width: 1100px) {
    .quizz-list {
        width: 340px;
        margin-top: 107px;
    }

    .quizz-thumb {
        margin-right: 0px;
    }

    .your-quizzes header {
        justify-content: space-between;
    }

    .your-quizzes header ion-icon {
        margin-right: 0px;
    }

    .your-quizzes ul {
        flex-wrap: initial;
        flex-direction: column;
    }

    .list-of-all-quizzes ul {
        flex-wrap: initial;
        flex-direction: column;
    }

    .quizz-page .quizz-banner {
        height: 142px;
        font-size: 19px;
    }

    .quizz-page .question {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        padding: 20px 15px 0;
    }

    .quizz-page .question .question-title {
        width: 100%;
        height: 89px;
        margin: 0;
        margin-bottom: 25px;
        font-size: 19px;
        padding: 0 15px;
    }

    .quizz-page .question .answers {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .quizz-page .question .answers .option {
        width: 49%;
        margin-right: 2%;
    }

    .quizz-page .question .answers .option:nth-child(even) {
        margin-right: 0;
    }

    .quizz-page .question .answers .option span {
        font-size: 13px;
    }

    .quizz-page .question .answers .option img {
        height: 113px;
    }

    .quizz-page .result {
        width: 100%;
    }

    .quizz-page .result .score {
        font-size: 19px;
    }

    .quizz-page .result .description {
        flex-direction: column;
    }

    .quizz-page .result .description img {
        width: 100%;
        padding-right: 0;
        padding-bottom: 15px;
    }

    .quizz-page .restart-button {
        width: 260px;
        height: 52px;
        margin: 34px auto 12px;
        font-size: 18px;
    }

    .quizz-page .home-button {
        font-size: 18px;
    }

    .new-quizz-screen,
    .new-quizz-screen div input, 
    .new-quizz-screen .new-levels textarea {
        width: 100%;
    }

    .new-quizz-screen button.forward {
        font-size: 18px;
    }

    .new-quizz-screen .new-quizz-layout span{
        left: 10px;
        font-size: 19px;
    }

}

.hidden {
    display: none !important;
}